<a id='index-item-title' href="<%= post.escape("url")%>" target = '_blank'><%= post.escape("title") %></a> <br>
Posted by <a href="#/users/<%=post.get('user_id')%>"> <%= post.escape("user_fname")%> <%= post.escape("user_lname")%></a> <%= post.escape("time_ago")%> ago<br>
<div class="button-group">
  <div class="button-wrapper">
    <div id="like-button"></div>
  </div>


  <div class="button-wrapper">
    <div id="delete-post">
      <button class="delete-button">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="21px" height="17px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
        <g id="Captions">
        </g>
        <g id="Your_Icon">
          <path fill="#000000" d="M12.52 17.178v7.772h7.418l2.568 75.018h55.172l2.568-75.018h7.418v-7.772H12.52z M36.991 86.794h-5.153 l-1.301-53.386h6.454V86.794z M52.891 86.794h-5.597V33.407h5.597V86.794z M68.184 86.794h-5.039V33.407h6.502L68.184 86.794z"/>
          <polygon fill="#000000" points="57.6,6 57.6,-0 42.6,-0 42.6,6 16.4,6 16.4,13.8 83.8,13.8 83.8,6"/>
        </g>
        </svg>
      </button>
    </div>
  </div>

  <div class="like-count">
  </div>


</div>

<div class="divider"></div>
    <div class="ninetyfive">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <h3 class="panel-title">Comments</h3>
            </div>
            <div class="panel-body">
              <ul class="comments"></ul>
            </div>
     </div>
     <div id="comment-form"></div>
 </div>
